# Java
*.class

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar
local.properties

# Maven
target

# Build
bin/
gen/
build/
app/build/
proguard/

# Other
*.apk
*.ap_
*.dex

