<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <script type="text/javascript" src="/javascript/jquery.js" th:src="@{/javascript/jquery.js}"></script>
  <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      var contextRoot = /*[[ @{/} ]]*/ '/';
      console.log(contextRoot);
      /*]]>*/
  </script>
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Study Sample 2016-10-20</h1>
    </div>
    <div class="row">
      <form action="/hello" th:action="@{/hello}" th:object="${messageForm}" method="post">
        <input type="text" th:field="*{message}"/>
        <input type="submit" value="Submit"/>
      </form>
    </div>
    <div class="page-footer">
      <p th:text="${myMessage}">test message</p>
    </div>
  </div>
</body>

</html>
